button {
    background-color: blueviolet;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: none;
    border: 2px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: #ff1493;
        border: 2px solid #ff1493;
    }

    span {
        margin-left: 1rem;
        color: white;
        text-align: center;
        width: 1rem;
    }
}
